<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="titlee">
      {{'HOME.title' | translate}}
      <ion-icon name="documents-outline" class="titleicon"></ion-icon>
    </ion-title>
    <div class="element">
      
      <ion-searchbar placeholder="{{'HOME.bar' | translate}}" (ionInput)="getItems($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let nota of this.items;let i=index">
      <ion-item-options side="start" (ionSwipe)="this.presentAlert(nota.id)">
        <ion-item-option color="danger" expandable (click)="this.presentAlert(nota.id)">
          <ion-icon name="trash" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
   <ion-label (click)="this.openNote(this.nota)"> <h1>{{nota.titulo}}</h1> <br><p>{{nota.texto}}</p></ion-label>  
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="this.editaNota(nota)">
        <ion-item-option color="primary" expandable (click)="this.editaNota(nota)">
          <ion-icon name="pencil" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
