<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="this.botonlinterna()" expand="block" fill="outline" color="dark">
    <div>
      <ion-icon name="flashlight-outline"></ion-icon>
      <label>Flash</label>
  </div>
  </ion-button>
  <ion-button (click)="this.logout()" expand="block" fill="outline" color="danger">
    <ion-icon name="exit-outline"></ion-icon>
    <label>logout</label>
  </ion-button>
</ion-content>
